<template>
  <div id="app">
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-title class="font-weight-light">
        Universal IoT Access
      </v-toolbar-title>
    </v-toolbar>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'iot_app'
  }
</script>

<style>
  /* CSS */
</style>
