<template>
  <v-content class="pt-12">
    <v-container fluid grid-list-md>
      <v-layout row wrap justify-center>
        <v-flex d-flex xs12 sm6 md4 lg3>
          <v-card>
            <v-toolbar
              color="blue"
              dark
            >
              <v-toolbar-title>Connected Devices</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon @click="mainPage"><v-icon>arrow_back</v-icon></v-btn>
            </v-toolbar>
            <v-card-text class="grey lighten-3">
              <div>
                Local IP: {{ localIP }}
              </div>
              <div> 
                Local Port: {{ localPort }}
              </div>
              <div>
                Local MAC: {{ localMAC }}
              </div>
            </v-card-text>
            <v-card-actions wrap>
              <v-list two-line v-if="devices.length !== 0">
                <template v-for="(device, index) in devices">
                  <v-list-tile
                    :key="index"
                    @click="selectedDevice = device"
                  >
                    <v-list-tile-content>
                      <v-list-tile-title>{{ index + 1}} - {{ device.getIP() }}:{{ device.getPort() }}</v-list-tile-title>
                      <v-list-tile-sub-title class="text--primary">ID: {{ device.getDisplayID() }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-list>
              <template v-else>
                <div class="text-xs-center" >
                  Waiting for connections...
                </div>
                <v-spacer></v-spacer>
                <v-progress-circular
                    :size="30"
                    :width="3"
                    color="blue"
                    indeterminate
                  ></v-progress-circular>
              </template>
            </v-card-actions>
          </v-card>
        </v-flex>
        <v-slide-x-transition>
          <v-flex v-if="selectedDevice && !selectedDevice.destroyed()" xs12 sm6 md4 lg4 xl2>
            <v-card>
              <v-toolbar
                color="green lighten-2"
                dark
              >
                <v-toolbar-title>Device Status</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <div>IP: {{ selectedDevice.getIP() }}:{{ selectedDevice.getPort() }}</div>
                <div>ID: {{ selectedDevice.getDisplayID() }}</div>
                <div>
                  <span>Status: </span>
                  <span v-if="selectedDevice.getConnectionState() === Status.ConnectionStatus.ACTIVE"
                    class="green--text text--lighten-1"
                  >
                    Active
                  </span>
                  <span v-else-if="selectedDevice.getConnectionState() === Status.ConnectionStatus.TIMEOUT"
                    class="red--text"
                  >
                    Timed Out
                  </span>
                  <span v-else
                    class="blue--text"
                  >
                    Idle
                  </span>
                </div>
              </v-card-text>
              <v-card-actions>
                <v-btn flat outline class="caption" v-show="selectedDevice.getTimedOutStatus()" @click="destroy(selectedDevice)">Timed Out. Remove?</v-btn>
                <v-spacer></v-spacer>
                <v-btn flat outline class="blue caption" @click="actionToggle = !actionToggle">
                  Control
                  <v-icon>{{ showAction ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-slide-x-transition>
        <v-slide-y-transition>
          <v-flex v-if="showAction" d-flex xs12 sm12 md10 lg8 xl8>
            <v-layout column>
              <v-card>
                <v-toolbar
                  color="yellow accent-3"
                >
                  <v-toolbar-title>Control Board for ID: {{ selectedDevice.getDisplayID() }}</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-container
                    fluid
                    grid-list-md
                    class="pt-0 pl-0 pb-0 pr-0"
                  >
                    <v-layout row wrap>
                      <v-flex
                        d-flex xs2 sm4 md2 lg2
                      >
                        <v-list two-line>
                          <template v-for="(peripheral) in selectedDevice.getPeripherals()">
                            <v-list-tile
                              :key="peripheral._id"
                              ripple
                              @click="selectedDevice.selectPeripheral(peripheral)"
                            >
                              <v-list-tile-content>
                                <v-list-tile-title>{{ peripheral.getName() }}</v-list-tile-title>
                              </v-list-tile-content>
                              <v-list-tile-action>
                                <v-icon color="grey lighten-1">keyboard_arrow_right</v-icon>
                              </v-list-tile-action>
                            </v-list-tile>
                            <v-divider :key="peripheral._id"></v-divider>
                          </template>
                        </v-list>
                      </v-flex>
                      <v-flex
                        d-flex xs10 sm8 md10 lg10
                        v-if="selectedPeripheral"
                        class="mb-0 pb-0 pt-0"
                      >
                        <v-card class="mt-0 mb-0 pb-0" max-height=500>
                          <v-toolbar
                            tabs
                            height="40"
                          >
                            <v-toolbar-title class="headline mb-0 pb-0">{{ selectedPeripheral.getName() }}</v-toolbar-title>
                            <v-tabs
                              v-model="currentPinTab"
                              slot="extension"
                              grow
                              slider-color="cyan"
                              color="transparent"
                              class="pt-0 mt-0"
                            >
                              <v-tab
                                v-for="pin in selectedPeripheral.getPossiblePins()"
                                :key="pin.num"
                                :href="'#tab-' + pin.name"
                              >
                                {{ pin.name }}: {{ pin.num}}  
                              </v-tab>
                            </v-tabs>
                          </v-toolbar>
                          <v-tabs-items v-model="currentPinTab">
                            <v-tab-item
                              v-for="pin in selectedPeripheral.getPossiblePins()"
                              :key="pin.num"
                              :value="'tab-' + pin.name"
                            >
                              <v-card flat>
                                <v-container
                                  id="scroll-target"
                                  style="max-height: 300px"
                                  class="scroll-y"
                                >
                                  
                                  <template v-if="pin.currentType !== getPeripheralCodes().UNASSIGNED && pin.currentType !== selectedPeripheral.getType()">
                                    <v-card-title class="subheading font-weight-bold mb-0 pb-0">
                                      Pin Status: {{ peripheralStateName(pin.currentState) }}
                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-text>
                                      <div>
                                        Pin is already configured as {{ peripheralName(pin.currentType) }}.
                                      </div>
                                      <div>
                                        In order to change configuration, unconfigure it first at the {{ peripheralName(pin.currentType) }} tab.
                                      </div>
                                    </v-card-text>
                                  </template>
                                  <template class="grey lighten-4" v-else>
                                    <v-card-title class="subheading font-weight-bold mb-0 pb-0">
                                      Pin Status: {{ peripheralStateName(pin.currentState) }}
                                      <v-spacer></v-spacer>
                                      <v-btn v-if="pin.currentType === getPeripheralCodes().UNASSIGNED && pin.currentState === getPeripheralStates().OFF"
                                        @click="assignPin(selectedPeripheral, pin, selectedPeripheral.getType())"
                                      >
                                        Assign pin as {{ peripheralName(selectedPeripheral.getType()) }}
                                        <v-icon right>build</v-icon>
                                      </v-btn>
                                      <v-btn v-else-if="pin.currentType === selectedPeripheral.getType()"
                                        @click="unassignPin(selectedPeripheral, pin)"
                                        :loading="pin.currentType === selectedPeripheral.getType() && pin.currentState === getPeripheralStates().CONFIGURE"
                                        :disabled="pin.currentType === selectedPeripheral.getType() && pin.currentState === getPeripheralStates().CONFIGURE"
                                      >
                                        Unassign as {{ peripheralName(selectedPeripheral.getType()) }}
                                        <v-icon right>build</v-icon>
                                      </v-btn>
                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-layout v-if="pin.currentType === selectedPeripheral.getType()" 
                                      row wrap
                                      >
                                      <v-flex xs12 sm12 md3 class="pr-0 mr-0">
                                        <v-radio-group
                                          v-model="pinMode[pin.num]"
                                          v-on:change="pinModeSelect(selectedPeripheral, pin)"
                                          :row="$vuetify.breakpoint.smAndDown"
                                        >
                                          <div>Pin Mode:</div>
                                          <v-radio v-for="mode in getPeripheralModes()" :key="mode"
                                            color="cyan"
                                            :label="`${getPeripheralModeName(mode)}`"
                                            :value="mode"
                                          >
                                          </v-radio>
                                        </v-radio-group>
                                      </v-flex>
                                      <v-flex xs12 sm12 md9
                                        class="ml-0 pl-0 pr-0 mr-0"
                                        v-if="pin.currentMode !== getPeripheralModes().UNASSIGNED">
                                        <v-card class="mr-0 pr-0">
                                          <v-card-title primary-title>
                                            <div class="subheading">
                                              {{ getPeripheralModeName(pin.currentMode) }}
                                            </div>
                                          </v-card-title>
                                          <v-card-text>
                                            <pin-control
                                              :pin="pin"
                                              :peripheral="selectedPeripheral"
                                              :device="selectedDevice"
                                              :pinData="pinData[pin.num]"
                                              v-on:pinData="pinDataSelect(pin, $event.data)"
                                            ></pin-control>
                                          </v-card-text>
                                        </v-card>  
                                      </v-flex>
                                    </v-layout>
                                  </template>
                                </v-container>
                              </v-card>
                            </v-tab-item>
                          </v-tabs-items>
                        </v-card>
                      </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                      <v-flex d-flex xs2 sm4 md2 lg2>
                        <v-list two-line>
                          <template v-for="sf in getSpecialFunctions()">
                            <v-list-tile
                              :key="sf._id"
                              ripple
                              @click="selectedSpecialFunction = sf"
                            >
                              <v-list-tile-content>
                                <v-list-tile-title>
                                  {{ sf.name }}
                                </v-list-tile-title>
                              </v-list-tile-content>
                              <v-list-tile-action>
                                <v-icon color="grey lighten-1">keyboard_arrow_right</v-icon>
                              </v-list-tile-action>
                            </v-list-tile>
                          </template>
                        </v-list>
                      </v-flex>
                      <v-flex
                        d-flex xs10 sm8 md10 lg10
                        v-if="selectedSpecialFunction"
                      >
                        <special-functions-board 
                          :currentPacket="currentSFPacket" 
                          :type="selectedSpecialFunction.id"
                          v-on:transmitDataRequest="transmitSpecialData($event.data)"
                        >
                        </special-functions-board>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-layout>
          </v-flex>
        </v-slide-y-transition>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import Server from '../udp/Server.js'
  import Device from '../udp/Device.js'
  import Protocol from '../udp/Protocol.js'
  import PC from '../udp/PC.js'
  import Status from '../udp/Status.js'
  import { setInterval } from 'timers'
  // eslint-disable-next-line
  import Peripherals from '../udp/Peripherals.js'
  import Pins from '../udp/Pins.js'
  import PinControl from './PinControl.vue'
  import SpecialFunctionsBoard from './Connection/SpecialFunctions.vue'
  import SpecialFunctions from '../specialfunctions/SpecialFunctions.js'

  export default {
    data () {
      return {
        card_text: 'Hello',
        localIP: '127.0.0.1',
        localPort: 50000,
        localMAC: '',
        broadcastPort: 20000,
        server: null,
        error: '',
        rules: {
          required: value => !!value || 'Required',
          IP: value => /^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/.test(value) || 'IP Addresses only',
          port: value => /^0*(?:6(?:[0-4][0-9]{3}|5(?:[0-4][0-9]{2}|5(?:[0-2][0-9]|3[0-5])))|[1-5][0-9]{4}|[1-9][0-9]{1,3}|[0-9])$/.test(value) || 'Port numbers only.'
        },
        devices: [],
        selectedDevice: null,
        selectedSpecialFunction: null,
        Status,
        actionToggle: false,
        console,
        pinMode: [],
        pinData: {},
        currentSFPacket: null
      }
    },
    components: {
      PinControl,
      SpecialFunctionsBoard
    },
    computed: {
      showAction: function () {
        return (this.selectedDevice && !this.selectedDevice.destroyed() && this.actionToggle)
      },
      selectedPeripheral: function () {
        if (this.selectedDevice && !this.selectedDevice.destroyed()) {
          return this.selectedDevice.getSelectedPeripheral()
        } else {
          return null
        }
      },
      selectedPin: function () {
        if (this.selectedDevice && !this.selectedDevice.destroyed() && this.selectedPeripheral) {
          return this.selectedDevice.getSelectedPin(this.selectedPeripheral.getType())
        } else {
          return null
        }
      },
      currentPinTab: {
        // getter
        get: function () {
          if (this.selectedDevice && !this.selectedDevice.destroyed() && this.selectedPeripheral) {
            // console.log(`Get currentPinTab for ${this.selectedPeripheral.getType()}`)
            return this.selectedDevice.getSelectedTab(this.selectedPeripheral.getType())
          } else {
            return ''
          }
        },
        // setter
        set: function (newValue) {
          // console.log(`Set currentPinTab to ${newValue} for ${this.selectedPeripheral.getType()}`)
          if (this.selectedDevice && !this.selectedDevice.destroyed() && this.selectedPeripheral) {
            this.selectedDevice.selectTab(newValue, this.selectedPeripheral.getType())
          }
        }
      }
    },
    methods: {
      messageRX (msg, rinfo) {
        const address = rinfo.address
        const port = rinfo.port
        this.lorem = `${msg}, from Addr: ${address}:${port}`

        if (Protocol.verifyHeader(msg)) {
          // This came from an IoT device
          const ID = Protocol.getID(msg)
          let inList = false
          let device = null
          for (let i = 0; i < this.devices.length; i++) {
            if (this.devices[i].compareID(ID)) {
              inList = true
              this.devices[i].renewTimeout()
              device = this.devices[i]
              break
            }
          }
          const isDiscoverResponse = Protocol.isDiscoverResponse(msg)
          const isSpecialPacket = Protocol.isSpecialFunctionPacket(msg)

          if (!inList && isDiscoverResponse) { // Make sure we only add devices who are responding to discovery requests
            const d = new Device().setIP(address).setPort(port).setID(ID).setTimeout(30).renewTimeout()
            console.log('Created new device')
            this.devices.push(d)
          } else if (inList && !isDiscoverResponse && !Protocol.isPingResponse(msg) && !isSpecialPacket) { // We don't need to process Ping responses, they're just to avoid timeout
            // TODO process replies and states
            // TODO check against pending ACKs
            let receivedPacketContents = Protocol.getPacketContents(msg)
            let pinNum = Protocol.getFieldPinNum(receivedPacketContents)

            let pin = device.getAllPinsList()[pinNum]

            for (let i = 0; i < pin.pendingAcks.length; i++) {
              let compareData = pin.pendingAcks[i].msg

              console.log(`Comparing ${compareData.toString('hex')}, to ${receivedPacketContents.toString('hex')}`)
              if (Protocol.isCorrespondingAck(compareData, receivedPacketContents)) { // The received command bits match the sent
                console.log('Ack matched')
                if (!Protocol.isErrorCode(receivedPacketContents[Protocol.DATA_POS])) {
                  console.log('Not an error code')
                  // Not an error code, at least
                  if (Protocol.getCommandCode(receivedPacketContents) === Peripherals.PeripheralStates.CONFIGURE) {
                    console.log('Configuration response')
                    let configState = Protocol.getPeripheralMode(receivedPacketContents) // Output or input?

                    console.log(`Pin: ${pinNum}, State: ${configState}`)
                    pin.currentMode = configState
                    this.pinMode[pinNum] = configState
                    pin.currentState = Peripherals.PeripheralStates.IDLE
                  } else if (Protocol.getCommandCode(receivedPacketContents) === Peripherals.PeripheralStates.WRITE) {
                    console.log('Write output response')
                    // TODO create temporary drop-down telling of successful pin output
                    switch (Protocol.getPeripheralCode(receivedPacketContents)) {
                      case Peripherals.PeripheralCodes.GPIO:
                        pin.currentState = Peripherals.PeripheralStates.WRITE

                        let pinMode = Protocol.getData(compareData)[1]

                        console.log(`Setting pinmode after receive: ${pinMode}`)
                        this.pinData[pin.num] = pinMode
                        this.$forceUpdate()
                        break
                      case Peripherals.PeripheralCodes.ANALOG:
                        break
                      case Peripherals.PeripheralCodes.PWM:
                        break
                      case Peripherals.PeripheralCodes.UART:
                        break
                    }
                  } else if (Protocol.getCommandCode(receivedPacketContents) === Peripherals.PeripheralStates.READ) {
                    switch (Protocol.getPeripheralCode(receivedPacketContents)) {
                      case Peripherals.PeripheralCodes.GPIO:
                        break
                      case Peripherals.PeripheralCodes.ANALOG:
                        // TODO
                        pin.currentState = Peripherals.PeripheralStates.READ
                        // let readValue = Protocol.getData(receivedPacketContents)

                        // TODO assign readValue to analog pin current value
                        // pin.extraData.currentAnalogValue = readValue
                        this.pinData[pin.num] = 0
                        this.$forceUpdate()
                        break
                      case Peripherals.PeripheralCodes.PWM:
                        break
                      case Peripherals.PeripheralCodes.UART:
                        break
                    }
                  }
                } else {
                  // TODO error code
                  pin.currentState = Peripherals.PeripheralStates.IDLE
                  pin.currentMode = Peripherals.PeripheralModes.UNASSIGNED
                }
                pin.pendingAcks.splice(i, 1) // Remove from pending ACKs
                break
              }
            }
          } else if (inList && isSpecialPacket) {
            let receivedPacketContents = Protocol.getPacketContents(msg)
            this.currentSFPacket = receivedPacketContents
          }
        }
      },
      deviceWatchdog () {
        var device = null
        for (var i = 0; i < this.devices.length; i++) {
          device = this.devices[i]

          if (device.getTimeOut() <= 0) {
            device.setTimedOut()
          } else if (device.getTimedOutStatus()) {
            // TODO
          } else {
            device.decTimer()
          }
          if (device.getConnectionState() === Status.ConnectionStatus.IDLE) {
            device.ping({ server: this.server, mac: this.localMAC, address: device.getIP(), port: device.getPort() })
          }
        }
      },
      pinWatchdog () {
        for (let i = 0; i < this.devices.length; i++) {
          let device = this.devices[i]

          if (!device.getTimedOutStatus()) { // If it's not timed out already
            for (let l = 0; l < device.getPeripherals().length; l++) {
              let peripheral = device.getPeripherals()[l]
              let pins = peripheral.getCurrentPins()
              for (let j = 0; j < pins.length; j++) {
                let pin = pins[j]
                let k = pin.pendingAcks.length
                while (k--) {
                  let ack = pin.pendingAcks[k]

                  if (ack.timeout <= 0) {
                    if (ack.numTimeouts > Pins.NUM_TIMEOUTS) {
                      pin.pendingAcks.splice(k, 1)
                      // TODO (status? Timeout of pin? :S)
                    } else {
                      ack.numTimeouts++
                    }
                  } else {
                    ack.timeout = Pins.MAX_TIMEOUT
                  }
                }
              }
            }
          }
        }
      },
      destroy (device) {
        device.destroy()
        const idx = this.devices.indexOf(device)
        if (idx !== -1) {
          this.devices.splice(idx, 1)
        }
        this.currentPinTab = ''
      },
      mainPage () {
        const inst = this
        this.server.close(() => {
          inst.devices = []
          inst.selectedDevice = null
          inst.server = null
          this.$router.go(-1)
        })
      },
      getSpecialFunctions () {
        return SpecialFunctions.SPECIAL_FUNCTIONS
      },
      peripheralName (code) {
        return Peripherals.getPeripheralName(code)
      },
      peripheralStateName (state) {
        return Peripherals.getPeripheralStateName(state)
      },
      selectPin (pin) {
        // console.log(`Selecting pin: ${pin}, peripheral: ${this.selectedPeripheral.getType()}`)
        this.selectedDevice.selectPin(pin, this.selectedPeripheral.getType())
      },
      getPeripheralCodes () {
        return Peripherals.PeripheralCodes
      },
      getPeripheralStates () {
        return Peripherals.PeripheralStates
      },
      getPeripheralModes () {
        return Peripherals.PeripheralModes
      },
      getPeripheralModeName (mode) {
        return Peripherals.getPeripheralModeName(mode)
      },
      assignPin (peripheral, pin) {
        // TODO
        peripheral.addPin(pin)
        pin.currentState = Peripherals.PeripheralStates.IDLE
      },
      unassignPin (peripheral, pin) {
        // TODO
        peripheral.removePin(pin)
        this.pinMode[pin.num] = Peripherals.PeripheralModes.UNASSIGNED
        this.pinData[pin] = 0
      },
      pinModeSelect (peripheral, pin) {
        console.log(`Selecting pin mode of ${this.pinMode[pin.num]}`)
        pin.currentState = Peripherals.PeripheralStates.CONFIGURE
        switch (pin.currentType) {
          case Peripherals.PeripheralCodes.ANALOG:
            pin.extraData.resolution = Peripherals.AnalogResolutions[12]
            break
        }
        pin.currentMode = Peripherals.PeripheralModes.UNASSIGNED
        this.selectedDevice.configurePin(
          { server: this.server,
            mac: this.localMAC,
            address: this.selectedDevice.getIP(),
            port: this.selectedDevice.getPort()
          },
          peripheral, pin, this.pinMode[pin.num])
      },
      discoveryTransmitter () {
        Protocol.sendDiscovery({ server: this.server, mac: this.localMAC, port: this.broadcastPort })
      },
      transmitSpecialData (data) {
        Protocol.sendSpecialFunctionData(
          {
            server: this.server,
            mac: this.localMAC,
            address: this.selectedDevice.getIP(),
            port: this.selectedDevice.getPort()
          },
          data
        )
      },
      pinDataSelect (pin, data) {
        switch (pin.currentMode) {
          case Peripherals.PeripheralModes.OUTPUT:
            this.selectedDevice.pinOutput(
              { server: this.server,
                mac: this.localMAC,
                address: this.selectedDevice.getIP(),
                port: this.selectedDevice.getPort()
              },
              this.selectedPeripheral, pin, data
            )
            break
          case Peripherals.PeripheralModes.INPUT:
            this.selectedDevice.pinInput(
              { server: this.server,
                mac: this.localMAC,
                address: this.selectedDevice.getIP(),
                port: this.selectedDevice.getPort()
              },
              this.selectedPeripheral, pin, data
            )
            break
          default:
            break
        }
      }
    },
    beforeMount () {
      this.localIP = this.$route.params.ip
      this.localPort = this.$route.params.port
      this.localMAC = PC.macStripSemi(this.$route.params.mac)
      this.broadcastPort = this.$route.params.broadcastPort
      this.server = this.$server
      Server.setOnMessage(this.server, this.messageRX)
      setInterval(this.deviceWatchdog, 1000)
      for (var pin in Pins.PINS) {
        console.log(pin)
        this.pinMode[pin] = Peripherals.PeripheralModes.UNASSIGNED
        this.pinData[pin] = 0
      }
      setInterval(this.discoveryTransmitter, 5000)
      setInterval(this.pinWatchdog, 1000)
    }
  }
</script>