<template>
  <v-content class="pt-12">
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4 lg4>
          <v-card
            hover
            class="elevation-12">
            <v-card-title primary-title class="headline">Available Interfaces</v-card-title>
            <v-card-text>
              <v-list two-line>
                <template v-for="(netif, index) in interfaceList">
                  <v-list-tile
                    :key="index"
                    @click="selectInterface(netif)"
                  >
                    <v-list-tile-content>
                      <v-list-tile-title>{{ index + 1}} - Interface: {{ netif.netif }}</v-list-tile-title>
                      <v-list-tile-sub-title class="text--primary">IP: {{ netif.ip }}</v-list-tile-sub-title>
                      <v-list-tile-sub-title>MAC: {{ netif.mac }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-list>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex v-if="selectedInterface" xs12 sm8 md4 lg4>
          <v-card
            hover
            class="elevation-12">
            <v-card-title class="title">
              Selected Interface: &quot;{{ selectedInterface.netif }}&quot;
            </v-card-title>
            <v-card-text>
              <div>
                <v-alert
                  :value="error"
                  type="error"
                >
                    {{ error }}
                </v-alert>
              </div>
              
              <v-form
                v-model="validConfig">
                <v-text-field
                  prepend-icon="router"
                  name="ip"
                  label="Local IP"
                  type="text"
                  v-model="selectedInterface.ip"
                  readonly
                  required></v-text-field>
                <v-text-field
                  prepend-icon="alternate_email"
                  name="port"
                  label="Local Port"
                  type="text"
                  v-model="localPort"
                  :rules="[rules.required, rules.port]"
                  placeholder="E.g. 8000"
                  required></v-text-field>
                <v-text-field
                  prepend-icon="devices"
                  name="broadcast_port"
                  label="Remote Device Port"
                  type="text"
                  v-model="broadcastPort"
                  :rules="[rules.required, rules.port]"
                  placeholder="E.g. 20000"
                  required></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions wrap>
              <span class="grey--text pl-3">
              </span>
              <v-spacer></v-spacer>
              <v-btn color="#536DFE" dark
                @click.native="openPort">
                Open Port Connection
                <v-icon>arrow_forward</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import Server from '../udp/Server'
  import PC from '../udp/PC'
  import Vue from 'vue'

  export default {
    data () {
      return {
        localPort: 50000,
        broadcastPort: null,
        error: '',
        rules: {
          required: value => !!value || 'Required',
          IP: value => /^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/.test(value) || 'IP Addresses only',
          port: value => /^0*(?:6(?:[0-4][0-9]{3}|5(?:[0-4][0-9]{2}|5(?:[0-2][0-9]|3[0-5])))|[1-5][0-9]{4}|[1-9][0-9]{1,3}|[0-9])$/.test(value) || 'Port numbers only.'
        },
        validConfig: false,
        selectedInterface: null,
        interfaceList: [],
        interfaceObj: null
      }
    },
    methods: {
      openPort () {
        if (this.validConfig) {
          console.log('Binding socket')
          const inst = this
          Server.bindSocket(this.selectInterface.ip, this.localPort, (server, ip, port) => {
            Vue.server = Vue.prototype.$server = server
            this.$router.push({name: 'Connection', params: { ip: ip, port: port, mac: inst.selectedInterface.mac, broadcastPort: inst.broadcastPort }})
          })
        } else {
          this.error = 'Please enter valid IP/Port.'
        }
      },
      selectInterface (netif) {
        this.selectedInterface = netif
      }
    },
    beforeMount () {
      this.interfaceObj = PC.getNetworkInterfaces()
      // console.log(this.interfaceObj)
      for (var netif in this.interfaceObj) {
        var details = PC.getMacAndIPv4(this.interfaceObj[netif])
        if (details !== null) {
          details.netif = netif
          console.log(details)
          this.interfaceList.push(details)
        }
      }
    }
  }
</script>