<template>
  <v-card-text>
    <div v-if="pin.currentMode === Peripherals.PeripheralModes.OUTPUT">
      <v-layout
        row wrap
        v-if="pin.currentType === Peripherals.PeripheralCodes.ANALOG"
      >
        <v-flex xs12 sm12 md12
          class="ml-0 pl-0 pr-0 mr-0"
        >
          
        </v-flex>
      </v-layout>
      <v-layout
        row wrap
        v-else-if="pin.currentType === Peripherals.PeripheralCodes.GPIO"
      >
        <v-flex xs6
          class="ml-0 pl-0 pr-0 mr-0"
        >
          <v-switch
          v-model="currentPinState"
          color="cyan"
          >
            <template slot="label">
              <span>{{ currentPinState ? 'HIGH' : 'LOW' }}</span>
            </template>
          </v-switch>
        </v-flex>
        <v-flex xs6
          class="ml-0 pl-0 pr-0 mr-0"
          v-if="waiting"
        >
          <v-progress-circular
            color="purple"
            :indeterminate="true"
          ></v-progress-circular>
          <span class="gray--text">Waiting for response...</span>
        </v-flex>
        <v-flex xs6
          class="ml-0 pl-0 pr-0 mr-0"
          v-else
        >
          <v-icon color="green lighten-1">check_circle_outline</v-icon>
        </v-flex>
      </v-layout>
    </div>
    <div v-else-if="pin.currentMode === Peripherals.PeripheralModes.INPUT">
      <v-layout
        row wrap
        v-if="pin.currentType === Peripherals.PeripheralCodes.ANALOG"
      >
        <v-flex xs4
          class="ml-0 pl-0 pr-0 mr-0"
        >
          <v-btn @click="analogReadPin" flat color="green lighten-1">
            Read Pin
          </v-btn>
        </v-flex>
        <v-flex xs4
          class="ml-0 pl-0 pr-0 mr-0"
        >
          <span class="title">{{ pin.extraData.currentAnalogValue === -1 ? 'No data yet.' : pin.extraData.currentAnalogValue }}</span>
        </v-flex>
        <v-flex xs4
          class="ml-0 pl-0 pr-0 mr-0"
          v-if="pinData === 1"
        >
          <v-progress-circular
            color="purple"
            :indeterminate="true"
          ></v-progress-circular>
          <span class="gray--text">Waiting for response...</span>
        </v-flex>
      </v-layout>
      <v-layout
        row wrap
        v-else-if="pin.currentType === Peripherals.PeripheralCodes.GPIO"
      >
        <v-flex xs12
          class="ml-0 pl-0 pr-0 mr-0"
        >
        </v-flex>
      </v-layout>
    </div>
  </v-card-text>
</template>

<script>
import Peripherals from '../udp/Peripherals.js'

// TODO component for controlling peripheral pins
export default {
  props: {
    pin: {
      type: Object,
      required: true
    },
    peripheral: {
      type: Object,
      required: true
    },
    device: {
      type: Object,
      required: true
    },
    pinData: {
      required: true
    }
  },
  data () {
    return {
      Peripherals,
      currentPinState: false
    }
  },
  methods: {
    analogReadPin () {
      this.$emit('pinData', {data: 0})
    }
  },
  watch: {
    currentPinState: function () {
      this.$emit('pinData', {data: this.currentPinState ? 1 : 0})
    }
  },
  computed: {
    waiting: function () {
      return this.pinData !== (this.currentPinState ? 1 : 0)
    }
  },
  beforeMount () {
    this.currentPinState = ((this.pinData === 1 || this.pinData === 0) && this.pinData === 1)
  }
}
</script>