<template>
  <v-card>
    <v-toolbar height="40">
      <v-toolbar-title class="title">
        Undergraduate Expo Demo: Live Fan RPM data!
      </v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <v-flex xs12>
        <div>
          <v-layout row wrap>
            <v-switch
              v-model="controlType"
              color="orange"
            >
              <template slot="label">
                Control Mode: {{ controlType ? 'RPM PID' : 'Raw Duty Cycle' }}.
              </template>
            </v-switch>
            <v-switch
              v-model="dataPattern"
              color="cyan"
            >
              <template slot="label">
                Automated Output Pattern: {{ dataPattern ? 'ON' : 'OFF' }}.
              </template>
            </v-switch>
          </v-layout>
        </div>
        <div v-if="!dataPattern">
          <span class="title grey--text">
            Fan 0: {{ fan_0_slider }}{{ controlType ? ' RPM' : '%' }}
          </span>
          <input v-if="controlType" type="range" min="450" max="1650" v-model="fan_0_slider" @input="changeWidth" class="slider0" id="myRange">
          <input v-else type="range" min="0" max="100" v-model="fan_0_slider" @input="changeWidth" class="slider0" id="myRange">
        </div>
        <div v-if="!dataPattern">
          <span class="title grey--text">
            Fan 1: {{ fan_1_slider }}{{ controlType ? ' RPM' : '%' }}
          </span>
          <input v-if="controlType" type="range" min="450" max="1650" v-model="fan_1_slider" @input="changeWidth" class="slider1" id="myRange">
          <input v-else type="range" min="0" max="100" v-model="fan_1_slider" @input="changeWidth" class="slider1" id="myRange">
        </div>
        <div v-if="!dataPattern">
          <span class="title grey--text">
            Fan 2: {{ fan_2_slider }}{{ controlType ? ' RPM' : '%' }}
          </span>
          <input v-if="controlType" type="range" min="450" max="1650" v-model="fan_2_slider" @input="changeWidth" class="slider2" id="myRange">
          <input v-else type="range" min="0" max="100" v-model="fan_2_slider" @input="changeWidth" class="slider2" id="myRange">
        </div>
      </v-flex>
    </v-card-text>
    <line-chart 
      :chart-data="datacollection" 
      :options="options"
      ref="linechart"
    ></line-chart>
  </v-card>
</template>

<script>
import SpecialFunctions from '../../specialfunctions/SpecialFunctions.js'
import LineChart from '../../specialfunctions/LineChart.js'

const TX_PERIOD = SpecialFunctions.SPECIAL_FUNCTIONS.expoDemo.txPeriod

export default {
  props: {
    currentPacket: {
      required: true
    }
  },
  components: {
    LineChart
  },
  data () {
    return {
      fan_0_slider: 0,
      fan_1_slider: 0,
      fan_2_slider: 0,
      controlType: false,
      dataPattern: false,
      patternCnt: [0, 0, 0],
      maxValue: 100,
      type: 'expoDemo',
      datacollection: null,
      colors: ['orange', 'blue', 'green', 'grey'],
      options: {
        events: ['click'],
        scales: {
          xAxes: [
            {
              type: 'time',
              distribution: 'linear',
              scaleLabel: {
                display: true,
                labelString: 'Time'
              },
              time: {
                unit: 'second'
              }
            }
          ],
          yAxes: [
            {
              distribution: 'series',
              scaleLabel: {
                display: true,
                labelString: 'RPM'
              }
            }
          ]
        },
        tooltips: {
          enabled: false
        },
        animation: {
          duration: 250,
          easing: 'linear'
        },
        maintainAspectRatio: false
      }
    }
  },
  beforeMount () {
    let datasets = []
    for (var i = 0; i < 3; i++) {
      datasets.push({
        label: `Fan ${i} RPM`,
        backgroundColor: this.colors[i],
        borderColor: this.colors[i],
        fill: false,
        lineTension: 0.15,
        data: [
          {
            x: Date.now(),
            y: this.getRandomInt()
          }
        ]
      })
    }
    /* datasets.push({
      label: `Avg. RPM`,
      backgroundColor: '#00000000',
      borderColor: this.colors[3],
      fill: false,
      lineTension: 0.15,
      data: [
        {
          x: Date.now(),
          y: this.getRandomInt()
        }
      ]
    }) */
    this.datacollection = {
      datasets
    }
    setInterval(this.expoDataTransmit, TX_PERIOD)

    this.fan_0_slider = 0
  },
  methods: {
    convertBytesToRPM (rpmBytes, fanIndex) {
      return rpmBytes.readInt16LE(2 * (fanIndex + 1))
    },
    addData (rpmVal, fanIndex) {
      if (this.datacollection.datasets[fanIndex].data.length > 20) {
        this.datacollection.datasets[fanIndex].data.splice(0, 1)
      }
      this.datacollection.datasets[fanIndex].data.push({
        x: Date.now(),
        y: rpmVal
      })
      let datasets = []
      for (var i = 0; i < 3; i++) {
        datasets.push({
          label: `Fan ${i} RPM`,
          backgroundColor: this.colors[i],
          borderColor: this.colors[i],
          fill: false,
          lineTension: 0.15,
          data: this.datacollection.datasets[i].data
        })
      }
      this.datacollection = {
        datasets
      }
    },
    getRandomInt () {
      return Math.floor(Math.random() * (1550 - 600)) + 600
    },
    expoDataTransmit () {
      this.$emit('transmitDataRequest', { data: { fan_0: this.fan_0_slider, fan_1: this.fan_1_slider, fan_2: this.fan_2_slider, usePID: (this.controlType ? 1 : 0) } })
      if (this.dataPattern) {
        this.generatePattern()
      }
    },
    changeWidth () {
      this.width = this.sliderValue
    },
    generatePattern () {
      const min = (this.controlType) ? 500 : 0
      const max = (this.controlType) ? 1600 : 100
      this.fan_0_slider = (max - min) / 2 * -Math.cos(2 * Math.PI * this.patternCnt[0] / 125) + ((max - min) / 2) + min
      this.patternCnt[0] += 1
      this.fan_1_slider = (max - min) / 2 * -Math.cos(2 * Math.PI * this.patternCnt[1] / 125 + Math.PI / 4) + ((max - min) / 2) + min
      this.patternCnt[1] += 1
      this.fan_2_slider = (max - min) / 2 * -Math.cos(2 * Math.PI * this.patternCnt[2] / 125 + Math.PI / 2) + ((max - min) / 2) + min
      this.patternCnt[2] += 1
    }
  },
  watch: {
    currentPacket: function () {
      if (this.currentPacket && SpecialFunctions.matchesSFByte(this.currentPacket, SpecialFunctions.getIDByte(this.type))) {
        this.addData(this.convertBytesToRPM(this.currentPacket, 0), 0)
        this.addData(this.convertBytesToRPM(this.currentPacket, 1), 1)
        this.addData(this.convertBytesToRPM(this.currentPacket, 2), 2)
      }
    },
    controlType: function () {
      if (this.controlType) {
        this.fan_0_slider = 450
        this.fan_1_slider = 450
        this.fan_2_slider = 450
      } else {
        this.fan_0_slider = 0
        this.fan_1_slider = 0
        this.fan_2_slider = 0
      }
    },
    dataPattern: function () {
      this.fan_0_slider = 0
      this.fan_1_slider = 0
      this.fan_2_slider = 0
      this.patternCnt = [0, 0, 0]
    }
  },
  computed: {
    computedWidth () {
      return this.width + '%'
    },
    computedColor () {
      return `rgba(${this.width},${this.width * 2},${this.width * 1.2})`
    }
  }
}
</script>

<style local>
h1{
  font-family:'Arial';
  text-align:center;
}
/* The slider itself */
.slider0 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider0:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider0::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: orange; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider0::-moz-range-thumb {
    width: 40px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: orange; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* The slider itself */
.slider1 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider1:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider1::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: blue; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider1::-moz-range-thumb {
    width: 40px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: blue; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* The slider itself */
.slider2 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider2:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider2::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: green; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider2::-moz-range-thumb {
    width: 40px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: green; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

</style>