<template>
  <expo-board 
    v-if="type === 'expoDemo'" 
    :currentPacket="currentPacket"
    v-on:transmitDataRequest="$emit('transmitDataRequest', { data: getSpecialFunctionData('expoDemo', $event.data) })"
  >
  </expo-board>
</template>

<script>
import ExpoBoard from './ExpoBoard.vue'
import SpecialFunctions from '../../specialfunctions/SpecialFunctions.js'

export default {
  props: {
    currentPacket: {
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  components: {
    ExpoBoard
  },
  data () {
    return {
    }
  },
  methods: {
    getSpecialFunctionData (type, extraData) {
      let returnData = null
      if (type === 'expoDemo') {
        returnData = Buffer.allocUnsafe(8)
        returnData[0] = SpecialFunctions.SPECIAL_FUNCTIONS[type].idByte[0]
        returnData.writeUInt16LE(extraData.fan_0, 1)
        returnData.writeUInt16LE(extraData.fan_1, 3)
        returnData.writeUInt16LE(extraData.fan_2, 5)
        returnData.writeUInt8(extraData.usePID, 7)
        console.log(returnData.toString('hex'))
      } else {
        returnData = SpecialFunctions.SPECIAL_FUNCTIONS[type].idByte
      }
      return returnData
    }
  }
}
</script>